body {
  background-color: #262c2a; }

h1 {
  font-size: 1.8em; }

#header {
  position: fixed;
  height: 120px;
  top: 0px;
  z-index: 10;
  background-color: #236071;
  opacity: 0.85;
  text-align: center; }

#content {
  position: relative;
  margin-top: 120px;
  padding: 10px;
  width: 920px;
  z-index: 0;
  background-color: #ffffff; }
  #content .links {
    padding: 10px; }
    #content .links li {
      padding-bottom: 10px; }
      #content .links li .link img {
        height: 16px;
        width: 16px;
        border: none; }
      #content .links li .example {
        color: #e2e9e6; }
        #content .links li .example:hover {
          color: #b58ea4; }
  #content .signup, #content .login {
    position: relative;
    float: left;
    width: 460px; }
  #content .login {
    text-align: right; }
