body {
  background-color: #262c2a; }

h1 {
  font-size: 1.8em; }

#header {
  position: relative;
  height: 120px;
  z-index: 10;
  background-color: #236071; }

#content {
  position: relative;
  z-index: 0;
  background-color: #ffffff; }
  #content .links {
    padding: 10px; }
    #content .links li {
      padding-bottom: 10px; }
      #content .links li .link img {
        height: 16px;
        width: 16px;
        border: none; }
      #content .links li .example {
        color: #e2e9e6; }
        #content .links li .example:hover {
          color: #b58ea4; }
