.menu {
  position: absolute;
  height: 40px;
  left: 0px;
  line-height: 12px;
  bottom: 0px;
  list-style: none none;
  background-color: #4ba8a2; }
  .menu li {
    position: relative;
    float: left;
    height: 40px;
    padding: 20px;
    padding-top: 12px;
    padding-bottom: 12px; }
    .menu li:hover {
      background-color: #006870;
      line-height: 30px;
      padding-bottom: 5px; }
    .menu li a:hover {
      color: white; }
