.project {
  position: relative;
  float: left;
  border: 10px solid #f1f1f1;
  margin: 10px;
  padding: 10px;
  width: 400px; }
  .project .body div {
    margin: 1em; }
  .project li {
    list-style-type: disc;
    margin: 1em;
    padding: 1em;
    margin-left: 2em; }

.tasks {
  margin-left: 2em; }
  .tasks .task {
    list-style: none none;
    padding: 0px; }
