%h1 Dashboard

%h2
  Current Projects that
  = @current_user.nickname
  is involved in
  
- unless @current_user.projects.length > 0
  .notice
    You are not involved in any projects as of yet. If you would like to be please
    = link_to "click here", new_project_path
    to create one.
    
= render :partial => "projects/project_summary", :collection => @current_user.projects