%ul.menu
  %li= link_to "projects", projects_path
  %li tasks
  %li= link_to "dashboard", user_path(@current_user.id)
  %li= link_to "profile", profile_user_path(@current_user.id)
  %li= link_to "logout", logout_users_path