.project
  .name= link_to project_summary.name, project_path(project_summary.id)
  .description= textilize truncate project_summary.description, :omission => " .. (#{link_to('more details', project_path(project_summary.id))})", :length => 14, :word_count => true