= render_toolbox({:id => "main_toolbox"}) do
  %h1 Projects
  .actions
    .new_action= link_to "create a new project", new_project_path

.projects
  = render :partial => "project_summary", :collection => @projects