%html
  %head
    %title Tasche
  %body
    - flash.each do |key, value|
      %div{:class => key}= value
    #header
      = render :partial => "shared/header"

    #content
      = yield :signup
      = yield
    
    
    
     
